/* src/Styles/navbar.style.scss */

body {
  padding: 0 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  row-gap: 15px;
  flex-wrap: wrap;

  a {
    color: #676767;
    text-decoration: none;
    background-color: #f7f7f7;
    padding: 9px 15px;
    transition: background-color 0.3s;
    border-radius: 8px;

    &:hover {
      background-color: #000000;
      color: white;
    }
  }

  .active {
    background-color: black;
    color: white;
  }
}

/* src/Styles/navbar.style.scss */
